<!DOCTYPE html>
<html>
<head>
<style>


	.container {
		position: absolute;
		margin:15px;
		width: auto;
	}

	.topnav {
		overflow:hidden;
		font-weight: 900;
		background-color: #0d5f4f;
		

		box-shadow: 0 10px 30px rgba(0,0,0,.3);

		


	}

	.topnav a {
		float: left;
		color:white;
		text-align:center;
		padding-left: 0px;
		padding: 14px 10px;
		text-decoration: none;
		font-size: 20px;
	}

	.topnav a:hover {
		background-color: #0d5f4f;
		color: black;
	}

	.topnav a:active {
		background-color: #4CAF50;
		color: white;
	}



</style>
</head>

</html>
